$animateTime: .3s;
.exit-button{

   width: 40px;
   height: 40px;

   transform: rotate(45deg);

   border: 2px solid #FFFFFF;
   background: none;
   border-radius: 50%;
   &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 24px;
      background: #FFFFFF;
   }
   &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 2px;
      background: #FFFFFF;
   }
}
.submit{
   width: 176px;
   height: 58px;

   border-radius: 15px;
   border: 2px solid #FFFFFF;

   background: none;
   color: #FFFFFF;

   font-size: 18px;
   font-weight: 700;
}

.order{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   width: 100vw;
   height: 100vh;

   padding-top: 24px;

   background: rgba(39, 75, 116, 0.4);
   backdrop-filter: blur(10px);
   h2{
      max-width: 90%;

      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;

      margin-bottom: 24px;

      color: #FFFFFF;
   }
   &__form{
      display: flex;
      justify-content: center;
      flex-direction: column;
   
      width: 80%;
      max-width: 400px;
      height: auto;
   
      margin-top: 12px;
      padding: 12px 24px 16px 24px;
   
      border: 1px solid #FFFFFF;
      filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 15px;
      p{
         font-weight: 400;
         font-size: 18px;
         text-align: center;
         margin-bottom: 12px;
   
         color: #FFFFFF;
      }
      form{
         display: flex;
         flex-direction: column;
   
         width: 100%;
   
         label{
            font-weight: 400;
            font-size: 14px;
            text-align: left;
   
            margin-bottom: 8px;
   
            color: #FFFFFF;
         }
         input{
            width: 100%;
            height: 24px;
   
            margin-bottom: 16px;
   
            background: #FFFFFF;
            border-radius: 10px;
   
            font-size: 16px;
            color: #274B74;
         }
         textarea{
            width: 100%;
            height: 100px;
   
            background: #FFFFFF;
            border-radius: 10px;
         }
         // input[type=submit]{
   
         // }
      }
   }
   &__buttons{
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      padding: 24px 0;
      gap: 24px;
   }
}
.size{
   display: none;
   width: 80%;
   max-width: 400px;
   height: auto;

   padding: 12px 24px;

   border: 1px solid #FFFFFF;
   filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
   border-radius: 15px;
   &._visible{
      display: block;
   }
   p{
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      margin-bottom: 44px;

      color: #FFFFFF;
   }
   &__input-size{
      display: flex;
      justify-content: center;
      gap: 12px;
      input {
         display: none;
      }
      label{
         
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;

         width: 32px;
         height: 32px;

         color: #FFFFFF;
         background: rgba(255, 255, 255, 0.2);
         border: 1px solid #FFFFFF;
         border-radius: 15px;
         p{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -28px);

            font-size: 14px;
            font-weight: 400;
         }
      }
      input:checked + label{
         border: 3px solid #E963FD;
      }
   }
}

.catalog-prints{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;

   width: 100vw;
   height: 100vh;
   background: rgba(39, 75, 116, 0.4);
   backdrop-filter: blur(10px);
   &__exit{
      width: 100%;
      height: 16%;
   }

}
.tile{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;

   width: 100%;
   height: 84%;
   
   overflow-Y: auto;
   gap: 12px;
   padding: 24px 16px 0 16px;
   &__item{
      display: flex;
      justify-content: center;
      align-items: center;

      width: 160px;
      height: 160px;

      border-radius: 10%;
      border: 3px solid #FFFFFF;
      background: rgba(255, 255, 255, 0.4);
      box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);
      img{
         width: 88%;
      }
      &._selected{
      border: 3px solid #E963FD;
      }
      @media(min-width: 768px){
         width: 180px;
         height: 180px;
      }
      @media(min-width: 1024px){
         width: 300px;
         height: 300px;
      }
   }

}
.exit{
   display: flex;
   justify-content: center;
   align-items: center;

}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 100%;
   height: 62px;
   @media (min-width: 900px){
      padding: 0;
      height: 100px;

   }
   &__logo{
      width: 60px;
      height: 30px;
      margin: 0 0 0 15px;
      @media (min-width: 900px){
         width: 120px;
         height: 60px;
         margin: 20px 0 0 20px;
      }
      svg{
         width: 100%;
         height: 100%;
      }
   }
   &__price{
      width: auto;
      margin: 0 15px 0 0;
      @media (min-width: 900px){
         margin: 30px 30px 0 0;
      }
      p{
         font-weight: 700;
         font-size: 30px;
         line-height: 37px;
         color: #E963FD;
         @media (min-width: 900px){
            font-size: 96px;
            line-height: 117px;
         }
         i{
            line-height: 22px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            @media (min-width: 900px){
               font-size: 48px;
               line-height: 59px;
            }
         }
         span{
            line-height: 22px;
            margin-left: 0.3em;
            font-weight: 400;
            font-size: 18px;
            @media (min-width: 900px){
               font-size: 48px;
               line-height: 59px;
            }
         }
      }
   }
}
.designe {
   width: 95%;
   @media (orientation: landscape){
      width: 55%;
   }
   @media (min-width: 1179px) and (orientation: landscape){
      width: 50%;
   }
   // @media (min-width: 600px) and (orientation: portrait){
   //    width: 80%;
   // }
   &__maket {
      position: relative;
      width: 100%;
   }
   &__t-shirt {
      width: 100%;
      max-height: 96vh;
      object-fit: contain;
   }
   &__print {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
   }
   
}
.gear{
   display: flex;
   justify-content: center;
   align-items: center;
   
   width: 50px;
   height: 50px;
   
   border: 1px solid #274B74;
   border-radius: 15px 0px 0px 15px;

   background: rgba(255, 255, 255, 0.2);
   @media (orientation: landscape) {
      // display: none;
   }
   @media (min-width: 1024px) {
      display: none;
   }
   svg{
      width: 36px;
      height: 36px;
   }
}
.settings{
   position: fixed;
   bottom: 2.5%;
   right: -100%;

   display: grid;
   grid-template-rows: repeat(3, min-content);
   width: 95%;
   height: auto;

   gap: 8px;
   padding: 12px;
   // margin:0 0 60px 0;

   background: rgba(39, 75, 116, 0.5);
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(10px);
   

   transition: all $animateTime;
   &._action {
      right: 50%;
      transform: translateX(50%);
   }
   &__close{
      position: absolute;
      top: -4px;
      right: -4px;

      width: 40px;
      height: 40px;

      transform: rotate(45deg);

      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: 2px solid #FFFFFF;
      backdrop-filter: blur(10px);
      border-radius: 50%;
      z-index: 5;
      &::before{
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 2px;
         height: 24px;
         background: #FFFFFF;
      }
      &::after{
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 24px;
         height: 2px;
         background: #FFFFFF;
      }
   }
   &__color{
      display: grid;
      place-items: center;
      justify-content: center;

      gap: 12px 48px;
      padding: 12px 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 2fr;

      max-width: 100%;

      border: 1px solid #FFFFFF;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 15px;
      h2{
         grid-column: 1/3;

         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 22px;

         color: #FFFFFF;
      }
      input {
         display: none;
      }
      label {
         display: flex;
         justify-content: center;
         align-items: center;

         width: 36px;
         height: 36px;
         background-color: #FFFFFF;
         border-radius: 50%;
      }
      label[for="black"] {
         justify-self: flex-end;
         background-color: black;
      }
      label[for="white"] {
         justify-self: flex-start;
         background-color: #FFFFFF;
      }
      input:checked + label{
         border: 6px solid #E963FD;
      }
   }
   &__front-back{
      display: grid;
      place-items: center;
      justify-content: center;

      gap: 12px 16px;
      padding: 12px 0;
      grid-template-columns: repeat(1fr 1fr);
      grid-template-rows: 1fr 2fr;

      border: 1px solid #FFFFFF;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 15px;
      h2{
         grid-column: 1/3;

         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 22px;

         color: #FFFFFF;
      }
      input {
         display: none;
      }
      label {
         display: flex;
         justify-content: center;
         align-items: center;

         min-width: 104px;
         max-width: 110px;
         height: 42px;
         color: #FFFFFF;
         background: rgba(255, 255, 255, 0.2);
         border: 1px solid #FFFFFF;
         border-radius: 15px;
      }
      input:checked + label{
         border: 4px solid #FFFFFF;
      }
   }
   &__model{
      display: grid;
      place-items: center;

      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 2fr;

      gap: 12px;
      padding: 12px 8px;
      border: 1px solid #FFFFFF;
      filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 15px;
       h2{
         grid-column: 1 / 4;

         font-weight: 400;
         font-size: 20px;
         line-height: 24px;

         color: #FFFFFF;
         
      }
      input {
         display: none;
      }
      label{
         display: flex;
         justify-content: center;
         align-items: center;

         min-width: 104px;
         max-width: 110px;
         height: 42px;
         color: #FFFFFF;
         background: rgba(255, 255, 255, 0.2);
         border: 1px solid #FFFFFF;
         border-radius: 15px;
      }
      input:checked + label{
         border: 4px solid #FFFFFF;
      }
   }
   
   @media (min-width: 430px) {
      width: auto;
      &._action {
         right: 2.5%;
         transform: translateX(0);
      }
   }
   @media (min-width: 1024px) {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 60px;
      &__close {
         display: none;
      }
   }
   @media(orientation: landscape) and (min-width: 1180px) {
      width: auto;
      &._action {
         right: 30%;
         transform: translateX(50%);
      }
   }
   @media (orientation: landscape) and (max-height: 380px){
      grid-template-columns: 3fr 1fr;
      max-width: auto;
      &._action {
         right: 35%;
         transform: translateX(50%);
      }
      &__color {
         grid-column: 1 / 2;
      }
      &__front-back {
         grid-column: 1 / 2;
      }
      &__model {
         grid-column: 2 / 3;
         grid-row: 1 / 3;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         h2{
            grid-column: auto;
         }
      }
   }
   @media (orientation: portrait) and (max-width: 400px) {
      &__model {
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         h2{
            grid-column: auto;
         }
      }
   }
}
.selected-print{
   width: 116px;
   height: 116px;

   background: rgba(255, 255, 255, 0);
   @media (min-width: 900px){
      width: 178px;
      height: 178px;
   } 
   &__item{
      position: absolute;
      top: 0;
      right: 0;

      display: grid;
      place-items: center;
      width: 104px;
      height: 104px;
      background: rgba(39, 75, 116, 0.2);
      border: 2px solid #274B74;
      box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      border-radius: 15px;

      @media (min-width: 900px){
         width: 154px;
         height: 154px;
      }
      &:nth-child(1) {
         top: 30px;
         right: 30px; 
         width: 96px;
         height: 96px;
         background: rgba(39, 75, 116, 0.2);
         border: 2px solid #274B74;
         @media (min-width: 900px){
            width: 142px;
            height: 142px;
         }
      }
      &:nth-child(2) {
         top: 15px;
         right: 15px; 
         width: 100px;
         height: 100px;
         background: rgba(39, 75, 116, 0.2);
         border: 2px solid #274B74;
         @media (min-width: 900px){
            width: 148px;
            height: 148px;
         }
      }
      img {
         width: 88%;
      }
   }
}
.comunication {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   @media (orientation: landscape){
      align-items: flex-start;
      width: 40%;
      right: 0;
      left: auto;
      z-index: 2;
   }
   &__messengers{
      display: flex;
      justify-content: center;
      align-items: center;
      @media (orientation: landscape) {
         justify-content: flex-start;
      }
      svg{
         width: 34px;
         height: 34px;
         margin: 0 15px;
         @media (min-width: 900px){
            width: 42px;
            height: 42px;
         }
      }
   }
   &__buy{
         width: min-content;
         height: auto;
         font-weight: 700;
         font-size: 18px;
         line-height: 1em;
         padding: 1em 2em;
         margin: 8px 0 24px 0;
         border-radius: 15px;
         background: #274B74;
         color: #FFFFFF;
         @media (min-width: 900px){
            width: 248px;
            height: 78px;
            font-weight: 700;
            font-size: 24px;
            line-height: 1em;
         }
   }
}

.preview{
   width: 100vw;
   min-height: 100vh;
   height: auto;
   
   background: linear-gradient(17.54deg, #E963FD 5.6%, rgba(130, 51, 197, 0.95) 57.29%, #274B74 95.85%);
   background-size: 100%, cover;


   overflow: hidden;
   @media (orientation: landscape){
      background: url(/img/bg/bg.webp) no-repeat top right;
      background-size: cover;
   }

   @media (min-width: 769px){
      display: flex;

      width: 100%;
      min-height: 100vh;
      height: auto;
   }
   &__order{
      position: fixed;
      top: -200vh;
      left: 0;
      z-index: 6;
      transition: all .3s;
      
      @media (orientation: landscape) and (max-height: 610px){
         overflow-y: auto;
         justify-content: flex-start;
      }
      &._visible{
         top: 0;
      }
   }
   &__catalog-prints{
      position: fixed;
      top: -100%;
      left: 0;
      z-index: 6;
      transition: all .3s;
      &._visible {
         top: 0;
      }
   }
   &__header{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
   }
   &__main{
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      @media (min-width: 769px){
         // position: relative;
         width: 50%;
      }
   }
   &__gear{
      position: fixed;
      right: 0;
      bottom: 21%;
      transition: all $animateTime;
      z-index: 5;
      &._action {
         right: -100%;
      }
   }
   &__designe {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (orientation: landscape){
         top: 50%;
         left: 7%;
         transform: translate(0, -50%);
      }
   }
   &__selected-print {
      position: fixed;
      left: 4%;
      bottom: 20%;
      @media (orientation: landscape){
         left: 8%;
         bottom: 12%;
      }
   }
}

